html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none;
  font-weight: 700;
  color: #fff; }

/*.mainContent.eventIntro,
.mainContent.guestbookIntro,
.mainContent.donateIntro {
  mar
}*/
button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  border: none;
  display: block;
  height: auto;
  line-height: normal;
  padding: 20px 35px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-appearance: none;
  transition: all 0.3s ease-in-out;
  margin-top: 1rem; }
  button:hover {
    cursor: pointer;
    -webkit-box-shadow: inset 0px 0px 0px 2px white;
    -moz-box-shadow: inset 0px 0px 0px 2px white;
    box-shadow: inset 0px 0px 0px 2px white;
    background-color: rgba(255, 255, 255, 0);
    color: #FFFFFF; }
  button:focus {
    border: none;
    outline: none;
    text-decoration: none; }
  button:active {
    opacity: 1; }

button {
  background-color: #FFFFFF;
  color: #F35192;
  padding: 20px 35px; }

/*aside button,
.donateBlock button {
  background-color: $white-base;
  color: $pink-base;
  padding: $button-padding;
  
  
}*/
.bandInfo {
  /*  top: -1100%;*/
  padding: 20px 40px;
  height: 100%;
  width: 100%;
  /*  display: none;*/ }
  @media (min-width: 1024px) {
    .bandInfo {
      position: absolute;
      top: -1300%;
      opacity: 0; } }

.bandInfo,
.band img {
  transition: all 0.3s ease-in-out; }

@media (min-width: 1024px) {
  .band:hover .bandInfo {
    opacity: 1; }

  .band:hover img {
    opacity: .2;
    -webkit-filter: blur(7px);
    filter: blur(7px); } }
.bandInfo p {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 736px) {
    .bandInfo p {
      width: 80%; } }

.band a {
  position: relative; }

body {
  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', 'Open Sans', 'Arial', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center; }

h2 {
  font-size: 2.625rem;
  line-height: 3rem;
  margin: 0 auto 3rem; }
  @media (min-width: 420px) and (max-width: 736px) {
    h2 {
      font-size: 3.375rem;
      line-height: 4.5rem; } }
  @media (min-width: 736px) and (max-width: 1024px) {
    h2 {
      font-size: 3.375rem;
      line-height: 4.5rem; } }
  @media (min-width: 1024px) {
    h2 {
      font-size: 5rem;
      line-height: 6rem; } }

h3 {
  font-size: 3rem;
  margin-bottom: 3.75rem; }

h4 {
  font-size: 1.5rem;
  line-height: 1.9rem;
  margin-bottom: 1.5rem; }

.donateBlock h4 {
  text-align: left; }

p {
  font-size: 1rem;
  line-height: 1.5em;
  font-weight: 400; }

aside p {
  font-size: 1.25rem;
  font-weight: 700; }

aside p:not(:last-child) {
  border-bottom: solid #FFFFFF 1px;
  padding-bottom: 10px; }

.mainContent p {
  color: #FFFFFF; }

.mainContent a:hover {
  color: #F5F5F6; }

.slideshow p {
  font-size: .75rem;
  margin: 5px auto;
  text-align: center; }

small {
  font-size: 0.75rem; }

aside small {
  color: #FFFFFF; }

img {
  max-width: 100%; }

.wrapper {
  width: 100%; }

.mainContentWrapper {
  background-image: linear-gradient(343deg, #3e4149, #f35192 51%, #3e4149);
  padding: 40px 0 60px; }

.mainContent {
  width: 80%;
  padding: 40px 0 0;
  margin: 0 auto 3.75rem;
  max-width: 600px; }

.mainContent.homeIntro {
  margin-bottom: 0; }

.mainContent.homeIntro section img {
  width: 100%;
  margin-bottom: 2rem; }
  @media (min-width: 420px) {
    .mainContent.homeIntro section img {
      width: 50%;
      max-width: 268px;
      float: right;
      margin: 0 0 1.25rem 1.25rem; } }

* p:not(:last-child) {
  margin-bottom: 1rem; }

section.mainContent {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  section.mainContent::after {
    clear: both;
    content: "";
    display: block; }
  section.mainContent section {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0 0 40px; }
    section.mainContent section:last-child {
      margin-right: 0; }
  section.mainContent aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    section.mainContent aside:last-child {
      margin-right: 0; }
  @media (min-width: 736px) {
    section.mainContent {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto; }
      section.mainContent::after {
        clear: both;
        content: "";
        display: block; }
      section.mainContent section {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
        padding: 0 40px 40px 0; }
        section.mainContent section:last-child {
          margin-right: 0; }
      section.mainContent aside {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%; }
        section.mainContent aside:last-child {
          margin-right: 0; } }

.eventLineup {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px; }
  .eventLineup::after {
    clear: both;
    content: "";
    display: block; }

.eventLineup > div.row {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto; }
  .eventLineup > div.row::after {
    clear: both;
    content: "";
    display: block; }
  .eventLineup > div.row h3 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    .eventLineup > div.row h3:last-child {
      margin-right: 0; }
  .eventLineup > div.row div {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding: 0 0 40px; }
    .eventLineup > div.row div:last-child {
      margin-right: 0; }
  @media (min-width: 736px) {
    .eventLineup > div.row {
      max-width: 1024px;
      margin-left: auto;
      margin-right: auto; }
      .eventLineup > div.row::after {
        clear: both;
        content: "";
        display: block; }
      .eventLineup > div.row div {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%; }
        .eventLineup > div.row div:last-child {
          margin-right: 0; } }

/*
.infoNav,
.mainNav {
  position: fixed;
  top: 30px;
  width: 30px;
  height: 30px;
}

.infoNav {
  left: 30px;
  background-color: $pink-base;
  border-radius: 50%;
  text-align: center;
  padding-top: 7px;
  color: $white-base;
  font-weight: 700;
}

.mainNav {
  right: 30px;
}

.mainNav div {
  background-color: $pink-base;
  height: 5px;
  width: 100%;
}

.mainNav div:not(:last-child) {
  margin-bottom: 5px;
}
*/
header nav {
  width: 90%;
  /*  position: relative;
    top: 40px;
    right: 30px;*/
  font-size: 1rem;
  text-align: center; }
  @media (max-width: 420px) {
    header nav {
      font-size: .75rem; } }

header nav ul li {
  display: inline-block; }

header nav ul li a {
  color: #F35192;
  text-transform: uppercase;
  padding: 10px 5px; }

header nav ul li:before,
footer nav ul li:before {
  content: " | "; }

header nav ul li:first-child:before,
footer nav ul li:first-child:before {
  content: ""; }

header nav ul li a:hover,
footer p.copyright a {
  color: #DA3879;
  /*  border-bottom: solid 4px $pink-base;*/ }

header nav ul li a.selected {
  color: #3E4149; }

header > *:not(:last-child) {
  margin: 1rem auto 2rem; }
  @media (min-width: 420px) and (max-width: 736px) {
    header > *:not(:last-child) {
      margin-bottom: 1rem; } }

header > p {
  margin-bottom: 3.75rem; }

header {
  width: 100%;
  height: 100vh;
  background-image: url(../img/christina-main-large.jpg);
  background-size: cover;
  padding-top: 1rem; }

header img {
  width: 80%;
  margin: auto;
  /*  margin-top: 60px;*/
  mix-blend-mode: multiply;
  display: block;
  position: relative; }

img.mainLogo {
  max-width: 640px; }
  @media (min-width: 420px) and (max-width: 736px) {
    img.mainLogo {
      max-width: 200px; } }
  @media (min-width: 1500px) {
    img.mainLogo {
      max-width: 900px; } }

.iconIllo img {
  width: 50%;
  max-width: 75px; }

.info {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  background-color: pink;
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-align: center; }

div.eventDate {
  color: #FFFFFF;
  background-color: #3E4149;
  position: relative;
  padding: 8px;
  width: 80%;
  max-width: 300px;
  mix-blend-mode: multiply; }
  @media (min-width: 736px) {
    div.eventDate {
      max-width: 330px; } }

h1 {
  display: none; }

header p {
  font-size: .9rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7.5px;
  margin-right: -7.5px;
  font-weight: 700; }
  @media (min-width: 736px) {
    header p {
      font-size: 1rem; } }

header div.iconIllo {
  width: 50%;
  margin: 0 auto 20px; }

header a.scrollIcon {
  width: 20%;
  padding: 20px;
  /*  position: relative;*/
  /*    bottom: 100px;
    bottom: 10vh;*/ }

header a.scrollIcon img {
  width: 25px; }

footer {
  width: 100%;
  text-align: center; }

footer nav ul {
  margin: 30px auto;
  text-align: center; }

footer nav ul li {
  display: inline-block;
  text-transform: uppercase; }

footer nav ul li a,
footer p.copyright a {
  color: #F35192;
  /*  transition: all .1s ease-in-out;*/ }

footer nav ul li a:hover,
footer p.copyright a {
  color: #DA3879;
  /*  border-bottom: solid 4px $pink-base;*/ }

footer nav ul li a.selected {
  color: #3E4149; }

footer div.logo {
  width: 100%; }

footer div.logo img {
  width: 50%;
  max-width: 140px;
  margin: 0 auto 30px;
  display: block; }

footer div.socialIcons {
  margin: auto;
  display: inline-block;
  margin-bottom: 30px; }

.socialIcons > :first-child {
  padding-right: 10px; }

footer div.socialIcons a img:hover {
  transform: scale(1.4); }

footer p.copyright {
  font-size: .75rem;
  width: 60%;
  margin: 0 auto 30px; }

/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
/*
.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid #fff;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default;
}

*/
/**
 *   Here's where everything gets included. You don't need
 *   to change anything here, and doing so might break
 *   stuff. Here be dragons and all that.
 */
/**
 *   Default variables
 *
 *   While these can be set with JavaScript, it's probably
 *   better and faster to just set them here, compile to
 *   CSS and include that instead to use some of that
 *   hardware-accelerated goodness.
 */
.unslider {
  overflow: auto;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  position: relative; }
  @media (max-width: 420px) {
    .unslider {
      margin: 40px -12.5% 0;
      padding: 0;
      width: 125%; } }

.unslider-wrap {
  position: relative; }

.unslider-wrap.unslider-carousel > li {
  float: left; }

.unslider-vertical > ul {
  height: 100%; }

.unslider-vertical li {
  float: none;
  width: 100%; }

.unslider-fade {
  position: relative; }

.unslider-fade .unslider-wrap li {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 8; }

.unslider-fade .unslider-wrap li.unslider-active {
  z-index: 10; }

.unslider ul, .unslider ol, .unslider li {
  list-style: none;
  /* Reset any weird spacing */
  margin: 0;
  padding: 0;
  border: none; }

.unslider-arrow {
  position: absolute;
  left: 2.5%;
  z-index: 2;
  cursor: pointer;
  top: 37.5%;
  opacity: .4; }

.unslider-arrow:hover {
  opacity: 1; }

.unslider-arrow.next {
  left: auto;
  right: 2.5%; }

.unslider a img {
  height: 30px;
  width: 30px; }

.unslider-nav ol {
  list-style: none;
  text-align: center;
  margin-bottom: 40px; }

.unslider-nav ol li {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  /*  border: 2px solid #fff;*/
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer; }

.unslider-nav ol li.unslider-active {
  background: #fff;
  cursor: default; }

.slideshow img {
  max-width: 100%; }

/*# sourceMappingURL=main.css.map */
