// Fonts

$font-family:               'Open Sans', 'Arial', sans-serif;

              


//Headline Variables

$headline-main-desktop:            5rem;
$headline-line-height-desktop:     6rem;
$headline-main-tablet:             3.375rem;
$headline-line-height-tablet:      4.5rem;
$headline-main-mobile:             2.625rem;
$headline-line-height-mobile:             3rem;

$small:                            .75rem;