// Fonts

$font-family:               'Open Sans', 'Arial', sans-serif;



//Headline Variables

$headline-main-desktop:     5rem;
$headline-main-tablet:      3.375rem;
$headline-main-mobile:      2.625rem;

$small:                     .625rem;