img {
  max-width: 100%;
}

.wrapper {
  width: 100%;
}

//Main Content area

.mainContentWrapper {
  	background-image: linear-gradient(343deg, #3e4149, #f35192 51%, #3e4149);
    padding: 40px 0 60px;
}



.mainContent {
  width: 80%;
  padding: 40px 0 0;
  margin: 0 auto $section-break;
  max-width: 600px;
}

.mainContent.homeIntro{
  margin-bottom: 0;
}

.mainContent.homeIntro section img {
  width: 100%;
  margin-bottom: 2rem;
  
    @media #{$breakpoint-larger-than-mobile} {
      width: 50%;
      max-width: 268px;
      float: right;
      margin: 0 0 1.25rem 1.25rem;
    }
}



* p:not(:last-child) {
  margin-bottom: 1rem;
}


//Main Content

section.mainContent {
  @include outer-container;
  section { 
    @include span-columns(12); 
    @include pad(0 0 40px);
  }
  aside { 
    @include span-columns(12); 
  }
  @media #{$breakpoint-larger-than-tablet} {
    @include outer-container;
    section { @include span-columns(9); @include pad(0 40px 40px 0); }
    aside { @include span-columns(3); }
  }
}




//Lineup Layout

.eventLineup {
  @include outer-container;
  max-width: 1024px;
}

.eventLineup > div.row {
  @include outer-container;
  h3 { @include span-columns(12); }
  div { @include span-columns(12);
        @include pad(0 0 40px)
  }
  
  @media #{$breakpoint-larger-than-tablet} {
    @include outer-container;
    div { @include span-columns(6); }
  }
  
}

//Map Styling

#map {
  height: 400px;
}