.bandInfo {

/*  top: -1100%;*/
  padding: 20px 40px;

  height: 100%;
  width: 100%;
/*  display: none;*/

  
  @media #{$breakpoint-desktop} {
    position: absolute;
    top: -1300%;
    opacity: 0;
    
  }
}

.bandInfo,
.band img {
  transition: $button-transition;
}

@media #{$breakpoint-desktop} {
  .band:hover {
  
  .bandInfo {
    opacity: 1;  
  }
}
  .band:hover img {
    opacity: .05;
//      -webkit-filter: blur(7px);
//    filter: blur(7px);
  }
}


.bandInfo p {
  width: 90%;
  margin: 0 auto;
  
  @media #{$breakpoint-larger-than-tablet} {
    width: 80%;
  }
}

.band a {
  position: relative;
}