.bandInfo {
  position: absolute;
  top: -1100%;
  padding: 20px 40px;

  height: 100%;
  width: 100%;
/*  display: none;*/
  opacity: 0;
  
  @media #{breakpoint-larger-than-tablet} {
    top: -1500%;
  }
}

.bandInfo,
.band img {
  transition: $button-transition;
}

.band:hover {
  .bandInfo {
    opacity: 1;
    
  }
  
}
.band:hover img {
    opacity: .2;
      -webkit-filter: blur(7px);
    filter: blur(7px);
}
.bandInfo p {
  width: 90%;
  margin: 0 auto;
  
  @media #{$breakpoint-larger-than-tablet} {
    width: 60%;
  }
}

.band a {
  position: relative;
}