


/*.mainContent.eventIntro,
.mainContent.guestbookIntro,
.mainContent.donateIntro {
  mar
}*/

@mixin headline-large {
  font-size: $headline-main-desktop;
}

@mixin headline-medium {
  font-size: $headline-main-tablet;
}

@mixin headline-small {
  font-size: $headline-main-mobile;
}

@mixin bold {
  font-weight: 700;
}

@mixin small {
  font-size: $small;
}